target/**/*
.vscode
/.idea/
emulatorcert.crt
.env
**/*paDemandPaymentNoticeRequest.xml
**/package-lock.json
**/node_modules/
**/yarn.lock
**/application-secret.properties
helm/charts/*
/.cache_ggshield
